@use 'mixins' as *;
@use 'functions' as *;
@use 'base';
@use '_abstracts';

// BREAKPOINTS
$bp1: 56.25em;
/*


#################
CUSTOM PROPERTIES
#################
*/

:root{
    @include customPropsGeneration;

    /* 
    Other properties 
    */
}
/*


##############
GENERAL STYLES
##############
*/
body{
    font-family: var(--ff-base);
    font-size: var(--fs-300);
}
/*


###############
UTILITY CLASSES
###############
*/
@include utc-sr-only;
@include utc-flex;
@include utc-flex-center;

.primary-heading{
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-500);
    line-height: 1.5;
}

.hidden{
    display: none;
}


/*


#############
LAYOUT STYLES
#############
*/
.main{
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--clr-neutral-200);
}

.card{
    flex-direction: column;
    max-width: toRem(400);
    width: 100%;
    background-color: var(--clr-neutral-100);
    border-radius: var(--size-10);
    margin: var(--size-24);
    overflow: hidden;
    box-shadow: 0 var(--size-20) var(--size-20) rgba(0,0,0,0.05);

    @include width-above($bp1){
        max-width: toRem(730);
        min-height: toRem(280);
        flex-direction: row;
        overflow: visible;
    }
    
    &__img-container{
        height: toRem(200);

        @include width-above($bp1){
            max-width: toRem(285);
            height: auto;
            border-radius: var(--size-10) 0 0 var(--size-10);
            overflow: hidden;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__article{
        padding: var(--size-32);
    }

    /* &__content{
        max-width: toRem(440);
    } */
}

.article{
    &__title{
        margin-block: .8em;
    }

    &__text{
        color: var(--clr-neutral-400);
        line-height: 1.5;
        margin-top: 1em;
    }
}

.autor-section{

    position: relative;
    align-items: center;
    height: var(--size-64);
    padding: 0 var(--size-32);

    &__picture{
        width: var(--size-40);
        border-radius: 50%;
        margin-right: var(--size-20);
    }

    &__info{
        color: var(--clr-neutral-300);
        span{
            font-weight: var(--fw-bold);
            color: var(--clr-neutral-500);
        }
    }

    &__button{
        position: absolute;
        width: var(--size-32);
        height: var(--size-32);
        border-radius: 50%;
        background-color: var(--clr-neutral-200);
        right: var(--size-32);
        cursor: pointer;

        @include hover{
            background-color: var(--clr-neutral-300);
        }
    }
}

.overlay{
    align-items: center;
    position: absolute;
    background-color: var(--clr-neutral-500);
    padding: 0 var(--size-32);
    height: 100%;
    left: 0;
    right: 0;

    @include width-above($bp1){
        max-width: toRem(245);
        height: var(--size-56);

        font-size: var(--fs-200);
        border-radius: var(--size-10);

        left: auto;
        right: toRem(-75);
        bottom: toRem(80);

        &::before{
            content: "";
            width: toRem(20);
            height: toRem(20);
            background-color: var(--clr-neutral-500);
            position: absolute;
            left: calc(50% - toRem(10));
            bottom: toRem(-10);
            rotate: 45deg;
            z-index: 0;
        }
    }

    &__text{
        font-size: var(--fs-400);
        text-transform: uppercase;
        letter-spacing: .3em;
        color: var(--clr-neutral-300);
        margin-right: var(--size-16);
    }

    &__list{
        list-style: none;
        gap: var(--size-16);
    }
}

.button--inverted{
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-100);

    img{
        color: white;
        background-image: white;
    }
}