$font-families: (
    base:       'Manrope',
    secondary:  "",
    accent:     ""
);

$font-sizes: (
    100: 0,
    200: 8,
    300: 13,
    350: 0,
    400: 16,
    450: 18,
    500: 20,
    600: 24,
    700: 30,
    800: 0,
    900: 0
);

$font-weight: (
    thin:       0,
    light:      0,
    regular:    500,
    semi-bold:  0,
    bold:       700
);
